<!--
<div class="Educacion">
  <h2> Educación </h2>
  <form>
    <div class="titulo">
      <label for="nombre"> Titulo </label>
      <input type="text" class="text">
    </div>

    <div class="nivel">
      <label> Nivel </label>
    <select class="form-select">
      <option selected></option>
      <option value="1">Primario</option>
      <option value="2">Secundario</option>
    </select>
    </div>

    <div class="institucion">
      <label> Institución </label>
      <input type="text" class="text">
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>

    <button class="btn btn-danger">Enviar</button>
    <br><br><br>
  </form>
</div>
-->
