*{
  /*padding-top: 15px;*/
  margin-top: 40px;
}
.ubicacion{
  border: rgb(10, 0, 0) 8px solid;
  border-radius: 20px;
  width: 1000px;
  margin-left: 50px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
             height: 280px;
}
.ubicacion h2{
  color: red;
  font-size: 2rem;
  font-weight: 800;
  margin-left: 80px;
}

.pais label{
  margin-left: 220px;
  margin-top: 10px;
  font-weight: 900;
}
.ciudad ,label-input{
  margin-left: 510px;
  margin-top: 10px;
  font-weight: 900;
  height: 100px;
  position: relative;
  top: -85px;
}
.ubicacion input{
  margin-left: 10px;
  height: 30px;
  margin-top: 10px;
  border-radius: 4px;
  background-color: aquamarine;
}
.direccion ,label-input{
  margin-left: 177px;
  margin-top: -40px;
  font-weight: 900;
  position: relative;
  top: -85px;
}

